<!--DOCTYPE html -->
<html>
    
    
    <body>
        <!-- <h1>{{ title }} is working!</h1> -->
        <h1>
            <img src="http://correctcare.com/files/9213/9612/5126/footer-brand.png" alt="CorrectCare logo" style="width:800px;height:110px;">
        </h1></br></br>
        <form>
            Username: <input type="text" name="username"></br>
            Password: <input type="text" name="password"></br>
            <input type="submit" value="Login">
        </form>
    </body>
    
</html>